@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&display=swap");

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  min-height: 430px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 2px solid white;
  overflow: hidden;
  border-radius: 8px;
  text-align: center;
  transition: all 0.35s;
  justify-content: center;
  gap: 10px;
}

.padding {
  padding-top: 8px;
}

.card:hover {
  border: 2px solid rgb(141, 141, 141);
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  padding-top: 10px;
  height: 25vh;
  width: 80%;
  object-fit: contain;
}

.card h2 p {
  color: black;
  font-family: "lato", sans-serif;
}

.card h2 {
  /* Ajusta según tus necesidades */
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* número de líneas a mostrar */
  -webkit-box-orient: vertical;
}


.Option {
  background-color: #0074d9;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  border-radius: 7px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
